.profile__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 70px;
}

.profile {
	margin-bottom: 50px;
}

.profile__image {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
}
